<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Flack</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename="index.css") }}">
  <script src="{{ url_for('static',filename="index.js") }}"></script>
          <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
</head>

<body>

<div id="sidenavwrapper">
  <div id="sidenavuser">
    <div id="displaynamewrapper" onclick="changedisplayname()">
      <span id="displayname">Display name</span>
    </div>
  </div>
  <div id="sidenavcontent">
    <div id="sidenavchannels">
      <div id="channels">
        <span id="channelstitle">Channels</span>
        <span id="channelsplus">
        +
          <span id="channelsplustooltip">
            Create a channel
          </span>
        </span>
      {% for channel in channels %}
        <a href="{{ url_for('channel', channelname=channel)}}">{{channel}}</a>
      {% endfor %}
    </div>
</div>

<div id="mainwrapper">
  <div id="mainbar">{{ channelname }}</div>
  <div id="mainmessages">
    <p>Element 3</p>
    <p>Element 2</p>
    <p>Element 1</p>
  </div>
  <div id="maininput"><input></input></div>
  </div>
</div>

</body>

</html>
